<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Izin Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Activity.AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.SupportActivity2"
            android:exported="false"
            android:label="@string/title_activity_support2"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.SupportActivity"
            android:exported="false"
            android:label="@string/title_activity_support"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.AboutApp"
            android:exported="false"
            android:label="@string/title_activity_about_app"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.EditPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_password"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.EditDataActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_data"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.EditAlamatActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_alamat"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" /> <!-- Deklarasi untuk CategoryActivity -->
        <activity
            android:name=".Activity.CategoryActivity"
            android:exported="true"
            android:label="@string/title_activity_category"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.TambahCategoryActivity"
            android:exported="true"
            android:label="@string/title_activity_tambah_category"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" /> <!-- Deklarasi aktivitas lainnya -->
        <activity
            android:name=".Activity.AddInvoiceActivity"
            android:exported="false"
            android:label="@string/title_activity_add_invoice_actifity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.InvoiceListActivity"
            android:exported="false"
            android:label="@string/title_activity_invoice_list_actifity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.reportActivity"
            android:exported="false"
            android:label="@string/title_activity_report_actifity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile_actifity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="@string/login_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="@string/Register_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.DashboardActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="Dashboard"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".Activity.UtangActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="Utang"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".Activity.PiutangActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="Piutang"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".Activity.AddPiutangActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="AddPiutang"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.AddUtangActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="AddUtang"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".Activity.CashFlowActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="CashFlow"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.ArusKasActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="CashFlow"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.EditCategoriActivity"
            android:exported="true"
            android:label="arus_kas_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.NoteAddActivity"
            android:exported="true"
            android:label="add_note_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.NoteActivity"
            android:exported="true"
            android:label="note_item_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.NoteEdit"
            android:exported="true"
            android:label="note_item_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.AnggotaActivity"
            android:exported="true"
            android:label="anggota_item_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.AnggotaAddActivity"
            android:exported="true"
            android:label="anggota_item_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.AnggotaEdit"
            android:exported="true"
            android:label="anggota_item_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.ResetPassword"
            android:exported="true"
            android:label="login_item_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>